@page "/AdminApproval"
@attribute [Authorize(Policy = "Admin")]
@rendermode InteractiveServer

@inject ISuggestionData suggestionData
@inject IUserData userData
@inject NavigationManager navManager

<h1 class="page-heading text-uppercase mb-4">Pending Submissions</h1>

<div class="row">
    <div class="suggestions-count col-8 mt-2">@submissions?.Count Submissions</div>
    <div class="col-4 close-button-section">
        <button class="btn btn-close" @onclick="ClosePage"></button>
    </div>
</div>

@if (submissions is not null)
{
    foreach (var item in submissions)
    {
        <div class="row submission">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <button class="btn btn-approve" @onclick="(() => ApproveSubmission(item))">Approve</button>
                <button class="btn btn-reject" @onclick="(() => RejectSubmission(item))">Reject</button>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <div>
                    @if (currentEditingTitle == item.Id)
                    {
                        <EditForm class="approval-edit-form" Model="@editedTitle" OnSubmit="(() => SaveTitle(item))">
                            <InputText class="form-control approval-edit-field" @bind-Value="editedTitle" />
                            <button class="btn" type="submit">
                                <span class="bi bi-check-square-fill submission-edit-approve"></span>
                            </button>
                            <button class="btn" type="button" @onclick="(() => currentEditingTitle = string.Empty)">
                                <span class="bi bi-x-square-fill submission-edit-reject"></span>
                            </button>
                        </EditForm>
                    }
                    else
                    {
                        @item.Suggestion
                        <span class="bi bi-pencil-square submission-edit-icon" @onclick="(() => EditTitle(item))"></span>
                    }
                </div>
                <div>@item.Category.CategoryName</div>
                <div>@item.Author.DisplayName</div>
                <div>
                    @if (currentEditingDescription == item.Id)
                    {
                        <EditForm class="approval-edit-form" Model="@editedDescription" OnSubmit="(() => SaveDescription(item))">
                            <InputText class="form-control approval-edit-field" @bind-Value="editedDescription" />
                            <button class="btn" type="submit">
                                <span class="bi bi-check-square-fill submission-edit-approve"></span>
                            </button>
                            <button class="btn" type="button" @onclick="(() => currentEditingDescription = string.Empty)">
                                <span class="bi bi-x-square-fill submission-edit-reject"></span>
                            </button>
                        </EditForm>
                    }
                    else
                    {
                        @item.Description
                        <span class="bi bi-pencil-square submission-edit-icon" @onclick="(() => EditDescription(item))"></span>
                    }
                </div>
            </div>
        </div>
    }
}

@code {
    private List<SuggestionModel> submissions;
    private SuggestionModel editingModel;
    private string currentEditingTitle = "";
    private string editedTitle = "";
    private string currentEditingDescription = "";
    private string editedDescription = "";

    protected override async Task OnInitializedAsync()
    {
        submissions = await suggestionData.GetAllSuggestionsWaitingForApprovalAsync();
    }

    private async Task ApproveSubmission(SuggestionModel submission)
    {
        submission.ApprovedForRelease = true;
        submissions.Remove(submission);
        await suggestionData.UpdateSuggestionAsync(submission);
    }

    private async Task RejectSubmission(SuggestionModel submission)
    {
        submission.Rejected = true;
        submissions.Remove(submission);
        await suggestionData.UpdateSuggestionAsync(submission);
    }

    private void EditTitle(SuggestionModel model)
    {
        editingModel = model;
        editedTitle = model.Suggestion;
        currentEditingTitle = model.Id;
        currentEditingDescription = "";
    }

    private async Task SaveTitle(SuggestionModel model)
    {
        currentEditingTitle = string.Empty;
        model.Suggestion = editedTitle;
        await suggestionData.UpdateSuggestionAsync(model);
    }

    private void EditDescription(SuggestionModel model)
    {
        editingModel = model;
        editedDescription = model.Description;
        currentEditingTitle = "";
        currentEditingDescription = model.Id;
    }

    private async Task SaveDescription(SuggestionModel model)
    {
        currentEditingDescription = string.Empty;
        model.Description = editedDescription;
        await suggestionData.UpdateSuggestionAsync(model);
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }
}
