@page "/Details/{id}"
@rendermode InteractiveServer

@inject ISuggestionData suggestionData
@inject IUserData userData
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider

<h1>Suggestion Details</h1>

<div>
    <div>
        @if(suggestion is not null)
        {
            <div>
                <div>
                    <div @onclick="VoteUp">
                        <div>@GetUpvoteTopText()</div>
                        <span class="bi bi-caret-up-fill"></span>
                        <div>@GetUpvoteBottomText()</div>
                    </div>
                    <div>
                        <div>@suggestion.DateCreated.ToString("MM.dd.yyyy")</div>
                    </div>
                </div>
                <div>
                    <div>@suggestion.Suggestion</div>
                    <div>@suggestion.Author.DisplayName</div>
                    <div>@suggestion.Description</div>
                    <div>@suggestion.Category.CategoryName</div>
                </div>
                <div>
                    <button @onclick="ClosePage" />
                </div>
            </div>
        }
    </div>
</div>

@if(suggestion?.SuggestionStatus is not null)
{
    <div>
        <div>
            <div></div>
            <div>
                <div>@suggestion.SuggestionStatus.StatusName</div>
                <div>@((MarkupString)suggestion.OwnerNotes)</div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private SuggestionModel suggestion;
    private UserModel loggedInUser;

    protected override async Task OnInitializedAsync()
    {
        suggestion = await suggestionData.GetSuggestionAsync(Id);
        loggedInUser = await authProvider.GetUserFromAuth(userData);
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }

    private string GetUpvoteTopText()
    {
        if (suggestion.UserVotes?.Count > 0)
        {
            return suggestion.UserVotes.Count.ToString("00");
        }
        else
        {
            if (suggestion.Author.Id == loggedInUser?.Id) return "Awaiting";
            else return "Click To";
        }
    }

    private string GetUpvoteBottomText()
    {
        if (suggestion.UserVotes?.Count > 1)
        {
            return "Upvotes";
        }
        else
        {
            return "Upvote";
        }
    }

    private async Task VoteUp()
    {
        if (loggedInUser is not null)
        {
            if (suggestion.Author.Id == loggedInUser.Id)
            {
                // Can't vote on your own suggestion
                return;
            }
            if (suggestion.UserVotes.Add(loggedInUser.Id) == false)
            {
                // Already voted this suggestion, so remove previous vote.
                suggestion.UserVotes.Remove(loggedInUser.Id);
            }

            await suggestionData.UpvoteSuggestionAsync(suggestion.Id, loggedInUser.Id);
        }
        else
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", forceLoad: true);
        }
    }
}
